# Python
__pycache__/
*.py[cod]
.env
venv/
.venv/
*.egg-info/
.env.prod
# Node
node_modules/
dist/
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test artifacts
backend/.coverage
backend/coverage_html/
frontend/test-results/

# Docker volumes
postgres_data/
